@import "./../../styles/variables";

#services{
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;

        div{
            padding: 2rem;
            border: .1rem solid $color-medium;
            border-radius: 1.6rem;
            position: relative;
            overflow: hidden;

            h1{ font-weight: 900; font-size: 3rem; }
            p{ z-index: 1; }
            img{
                opacity: .25;
                filter: brightness(0) saturate(100%) invert(73%) sepia(0%) saturate(1%) hue-rotate(199deg) brightness(88%) contrast(86%); // $color-medium
                height: 75%; max-width: 22.5rem;

                margin: 2.5rem 0;
                position: absolute;
                right: -25%;
                z-index: -999;
            }
        }
    }
}