@import "./../../styles/variables";

#login-page{
    background: linear-gradient(135deg, $bg-dark 55%, rgba($bg-dark, .5) 100%), url("./../../assets/img/bg/bg.jpg") 100% 100%/100% 100% no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    a{ font-weight: 900; }
    .col-container{ width: 100%; max-width: 32rem; padding: 1.5rem; }
    .form-helper{ display: flex; justify-content: space-between; }
}