@import "./../../styles/variables";

#header {
    background: linear-gradient(135deg, $bg-dark 55%, rgba($bg-dark, .5) 100%), url("./../../assets/img/bg/bg.jpg") 100% 100%/100% 100% no-repeat;
    height: 100vh;
    
    position: relative; top: -6.6rem;
    display: flex;
    div{
        margin: auto 0;
        
        h1{ font-weight: 400; font-size: 5rem; }
        p{ font-size: 2rem; }

        .buttons{
            display: flex;
            flex-wrap: wrap;
            gap: 2.5rem;
            button{ max-width: 18rem; }
        }
    }
}
@media (max-width: 465px){
    #header{
        h1{ font-size: 3rem!important; }
    }
}